<html lang="es">
  <head>
    <meta charset="utf-8">
    <title> Ventana Modal</title>
    link rel="stylesheet" href="estilo.css">
  
  </head>
</html>
<body>
<input type="checkbox" id="btn-modal">
<label for="btn-modal" class="lbl-modal">Advertencia</label> 
<div class="modal">
    <div class="contenedor">
        <header>Bebe con moderación</header>
        <label for="btn-modal">X</label>
        <div class="contenido">
          <p> Eres mayor de 18 años</p>
          
        </div>
        
    </div>
</div>
</body>